<div class="body">

    <div class="body__wrap">

        <div class="heading">
            <div class="heading__text">Add contact</div>
        </div>

        <div class="form">
            <form class="form__body" [formGroup]="form" (ngSubmit)="submit()">

                <div class="form__item" [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}">
                    <input class="form__input" type="text" formControlName="name" placeholder="Name *">         
                    <div class="form__validation" *ngIf="form.get('name').invalid && form.get('name').touched">
                        <small *ngIf="form.get('name').errors?.required">
                            Please, enter a Name
                        </small>
                        <small *ngIf="form.get('name').errors?.pattern">
                            Invalid characters used<br>
                        </small>
                        <small *ngIf="form.get('name').errors?.minlength">
                            Must be at least 
                            {{form.get('name').errors.minlength.requiredLength}}
                            characters, currently entered only
                            {{form.get('name').errors.minlength.actualLength}}<br> 
                        </small>
                        <small *ngIf="form.get('name').errors?.maxlength">
                            Must be no more than
                            {{form.get('name').errors.maxlength.requiredLength}}
                            characters, currently entered more than
                            {{form.get('name').errors.maxlength.actualLength}}<br>               
                        </small>
                    </div>
                </div>

                <div class="form__item" [ngClass]="{invalid: form.get('surname').touched && form.get('surname').invalid}">
                    <input class="form__input" type="text" formControlName="surname" placeholder="Surname">         
                    <div class="form__validation" *ngIf="form.get('surname').invalid && form.get('surname').touched">
                        <small *ngIf="form.get('surname').errors?.pattern">
                            Invalid characters used<br>
                        </small>
                        <small *ngIf="form.get('surname').errors?.minlength">
                            Must be at least 
                            {{form.get('surname').errors.minlength.requiredLength}}
                            characters, currently entered only
                            {{form.get('surname').errors.minlength.actualLength}}<br> 
                        </small>
                        <small *ngIf="form.get('surname').errors?.maxlength">
                            Must be no more than
                            {{form.get('surname').errors.maxlength.requiredLength}}
                            characters, currently entered more than
                            {{form.get('surname').errors.maxlength.actualLength}}<br>               
                        </small>
                    </div>
                </div>

                <div class="form__item" [ngClass]="{invalid: form.get('phone').touched && form.get('phone').invalid}">   
                    <input class="form__input" type="text" formControlName="phone" placeholder="Phone"> 
                    <div class="form__validation" *ngIf="form.get('phone').invalid && form.get('phone').touched">
                        <small *ngIf="form.get('phone').errors.pattern">
                            Invalid characters used<br>
                        </small>
                        <small *ngIf="form.get('phone').errors.minlength">
                            Must be at least 
                            {{form.get('phone').errors.minlength.requiredLength}}
                            characters, currently entered only
                            {{form.get('phone').errors.minlength.actualLength}}<br>
                        </small>
                        <small *ngIf="form.get('phone').errors.maxlength">
                            Must be no more than
                            {{form.get('phone').errors.maxlength.requiredLength}}
                            characters, currently entered more than 
                            {{form.get('phone').errors.maxlength.actualLength}}<br>                
                        </small> 
                    </div>
                </div>

                <div
                    formArrayName="newFields"
                    *ngFor="let item of form.get('newFields')['controls']; let i = index;"
                >
                    <div [formGroupName]="i">

                        <div class="form__item" [ngClass]="{invalid: form.get('newFields').controls[i].controls.phone.touched && form.get('newFields').controls[i].controls.phone.invalid}">   
                            <input class="form__input" type="text" formControlName="phone" placeholder="Phone"> 
                            <div class="form__validation" *ngIf="form.get('newFields').controls[i].controls.phone.invalid && form.get('newFields').controls[i].controls.phone.touched">
                                <small *ngIf="form.get('newFields').controls[i].controls.phone.errors.pattern">
                                    Invalid characters used<br>
                                </small>
                                <small *ngIf="form.get('newFields').controls[i].controls.phone.errors.minlength">
                                    Must be at least 
                                    {{form.get('newFields').controls[i].controls.phone.errors.minlength.requiredLength}}
                                    characters, currently entered only
                                    {{form.get('newFields').controls[i].controls.phone.errors.minlength.actualLength}}<br>
                                </small>
                                <small *ngIf="form.get('newFields').controls[i].controls.phone.errors.maxlength">
                                    Must be no more than
                                    {{form.get('newFields').controls[i].controls.phone.errors.maxlength.requiredLength}}
                                    characters, currently entered more than 
                                    {{form.get('newFields').controls[i].controls.phone.errors.maxlength.actualLength}}<br>                
                                </small> 
                            </div>
                        </div>

                        <div class="form__item">   
                            <input class="form__input" type="text" formControlName="link" placeholder="Link"> <!-- Без валидации в шаблоне, экономлю время -->
                        </div>

                        <div class="form__item">   
                            <input class="form__input" type="text" formControlName="text" placeholder="Text"> <!-- Без валидации в шаблоне, экономлю время -->
                        </div> 
                        
                    </div>
                </div>



                    <button class="add-btn" type="submit" (click)="addNewFields()">
                        <div class="add-btn__icon--plus"></div>
                        <div>
                            Add new field
                        </div>
                    </button>
 

                <div class="bottom">
                    <div class="bottom__left">
                        <button class="add-btn" type="submit" [disabled]="form.invalid">
                            <div class="add-btn__icon--plus"></div>
                            <div>
                                Create
                            </div>
                        </button>
                    </div>  
                    
                    <div class="bottom__right">
                        <a class="add-btn" (click)="cancel()">
                            <div>
                                Cancel
                            </div>
                        </a>
                    </div>                     

                </div>
            </form>
            
        </div> 

    </div>
    
</div> 

